<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lore & Galería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="gallery-container" *ngIf="!selectedCategory">
    <h1> Categorías  <br>9 VIDAS </h1>

    <div class="cards-grid">
      <div class="pixel-card category-card" (click)="selectCategory('Protagonista')">
        <div class="card-header" style="background-color: #D97D55;">PROTAGONISTA</div>
        <div class="card-content"><p>Conoce al héroe de esta historia.</p></div>
      </div>
      <div class="pixel-card category-card" (click)="selectCategory('Enemigo')">
        <div class="card-header" style="background-color: #ff6666;">ENEMIGOS</div>
        <div class="card-content"><p>Bestias y criaturas formidables.</p></div>
      </div>
      <div class="pixel-card category-card" (click)="selectCategory('Escenario')">
        <div class="card-header" style="background-color: #66cc66;">ESCENARIOS</div>
        <div class="card-content"><p>Los lugares míticos donde sucede la acción.</p></div>
      </div>
    </div>
  </div>


  <div class="gallery-container" *ngIf="selectedCategory">
    
    <button class="pixel-button back-button" (click)="resetCategory()">
      < Volver a Categorías
    </button>

    <h1> {{ selectedCategory }} </h1>

    <div class="cards-grid">
      <ng-container *ngFor="let item of galleryItems$ | async">
        
        <div *ngIf="item.category === selectedCategory" class="pixel-card">
          
          <div class="card-header">
            {{ item.nombre | uppercase }}
          </div>
          
          <img [src]="'assets/galeria/' + item.imagen" [alt]="item.nombre" class="card-image">

          <div class="card-content">
            <h2>{{ item.nombre }}</h2>
            <p>{{ item.info }}</p>
          </div>

          <div class="card-footer">
            <button class="pixel-button" (click)="openDetailModal(item)">Ver Detalles</button>
            
            <button *ngIf="item.category === 'Escenario'" 
                    class="pixel-button review-btn" 
                    (click)="openReviewsModal(item)"
                    style="margin-top: 10px; background-color: #F4E9D7;">
              Ver Reseñas
            </button>
          </div>
        </div>

      </ng-container>
    </div>
  </div>

</ion-content>