
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title>Soporte/Contacto</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="pixel-panel form-panel">
    <p class="intro-text">
      ¿Encontraste un bug o tienes una sugerencia? Llena el formulario.
    </p>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Tu Nombre:</label>
        <input id="name" type="text" formControlName="name" placeholder="Ej: Naranjoso Pixel">
        <div *ngIf="isInvalid('name')" class="error-message">El nombre es obligatorio.</div>
      </div>

      <div class="form-group">
        <label for="email">Tu Correo Electrónico:</label>
        <input id="email" type="email" formControlName="email" placeholder="ejemplo@dominio.com">
      
        <div *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched" class="error-message">
          El correo electrónico es obligatorio.
        </div>
        <div *ngIf="contactForm.get('email')?.hasError('email')" class="error-message">
          Formato inválido.
        </div>
      </div>

      <div class="form-group">
        <label for="problem">Detalle del Problema y/ó sugerencias:</label>
        <textarea id="problem" formControlName="problem" rows="6" placeholder="Describe el error..."></textarea>
        <div *ngIf="isInvalid('problem')" class="error-message">
          Se requiere una descripción detallada.
        </div>
      </div>

      <div class="submit-group">
        <button type="submit" class="pixel-button submit-button" [disabled]="contactForm.invalid || isSubmitting">
          {{ isSubmitting ? 'ENVIANDO...' : 'ENVIAR REPORTE' }} 
        </button>
      </div>

    </form>
  </div>

</ion-content>
