:root {

  --ion-color-primary: #B8C4A9;
  --ion-color-primary-rgb: 255,153,0;
  --ion-color-primary-contrast-rgb: 26,26,42;
  --ion-color-primary-shade: #e08600;
  --ion-color-primary-tint: #ff9f1a;

  
}