ion-content {
  --background: #3b3b4a;
}

.modal-panel {
  background-color: #2b2b3a;
  border: 5px solid #ff9900;
  box-shadow: 8px 8px 0px 0px #1a1a2a;
  margin-top: 10px; 
}


.pixel-divider {
  border: none;
  border-top: 4px solid #4a4a58;
  margin: 20px 0;
}



h2 {
  font-family: 'Press Start 2P', monospace;
  font-size: 1.2em; 
}

p {
  font-family: 'VT323', Courier, monospace !important; 
  font-size: 1.6em; 
  line-height: 1.4;
  color: #ccc;
}

.pixel-button {
  font-family: 'Press Start 2P', monospace;
}