<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ item.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="pixel-panel modal-panel">
    
    <img [src]="'assets/galeria/' + item.imagen" [alt]="item.nombre" class="card-image">

    <div class="card-content">
      
      <h2>{{ item.nombre | uppercase }}</h2>
      <p>{{ item.info }}</p>

      <hr class="pixel-divider">

      <h2>HISTORIA</h2>
      <p>{{ item.history }}</p>
      
      <div class="card-footer" style="text-align: center; margin-top: 20px;">
        <button class="pixel-button" (click)="closeModal()" style="width: 100%;">
          CERRAR MODAL
        </button>
      </div>

    </div>
  </div>
</ion-content>