@import "@ionic/angular/css/core.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '@ionic/angular/css/palettes/dark.system.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'VT323', Courier, monospace;
  font-smooth: never;
  -webkit-font-smoothing: none;
  background-color: #3b3b4a;
  color: #fff;
  padding-top: 60px;
}

.content-area {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button, .pixel-button {
  background-color: #F4E9D7;
  color: #D97D55;
  border: 4px solid #1a1a2a;
  padding: 10px 20px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.1s;
}

button:hover, .pixel-button:hover {
  background-color: #ffb347;
  border-color: #000;
}

ion-menu::part(container) {
  background-color: #1a1a2a !important;
  border-right: 4px solid #ff9900;
}

ion-menu ion-list-header {
  color: #ff9900;
  font-size: 1.5em;
  font-weight: bold;
}

ion-menu ion-note {
  color: #ccc;
  padding-left: 16px;
  display: block;
  margin-bottom: 20px;
}

ion-menu ion-label {
  color: #fff !important;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold;
}

ion-menu ion-icon {
  color: #fff !important;
}

ion-menu ion-item.selected {
  --background: #D97D55;
}

ion-menu ion-item.selected ion-label,
ion-menu ion-item.selected ion-icon {
  color: #1a1a2a !important;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-wrapper .leaderboard-panel {
  min-width: 500px;
}

.menu-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 2px solid #4a4a58;
  margin-bottom: 8px;
}

.menu-header-container .menu-logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  image-rendering: pixelated;
  flex-shrink: 0;
}

.menu-header-container ion-list-header {
  color: #ff9900;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.menu-header-container ion-note {
  color: #ccc;
  padding-left: 0;
  margin-left: 0;
  display: block;
  font-size: 0.9em;
}

#inbox-list ion-list-header,
#inbox-list ion-note {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ion-title,
.pixel-button,
.card-header,
.leaderboard-panel th,
ion-menu ion-list-header {
  font-family: 'Press Start 2P', monospace;
  letter-spacing: 0px;
}

.pixel-card .card-content p {
  font-family: 'VT323', Courier, monospace !important;
  font-size: 1.6em;
  line-height: 1.4;
  color: #ccc;
}
